<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= dog.name %>
    </title>
</head>

<body>
    <a href="/" style="font-size:26px">See all Dogs</a>
    <h1>Hello</h1>
    <h3>My name is <%= dog.name %> and I am <%= dog.age %> years old.</h3>
    <p style="font-size:26px"><a href="/dogs/edit/<%= dog._id %>">Edit</a> | <a href="/dogs/destroy/<%= dog._id %>">Delete</a></p>
</body>

</html>